<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" >
    <title>智慧魔盒</title>

    <!-- 引入jquery -->
    <script src="/static/plugins/jquery/3.3.1/jquery-3.3.1.min.js" type="text/javascript" ></script>
    <!-- 引入vue.js -->
    <script src="/static/plugins/vue/2.5.16/vue.min.js" type="text/javascript" ></script>
</head>

<!--可以被继承者们替换掉的部分-->
{% block mainbody %}

{% endblock %}
</html>
