<style type="text/css">
input.error, select.error, textarea.error {
	border: 1px solid #EA5200;
}
label.error {
	font-weight: bold;
	padding-left: 8px;
    color: #EA5200;
}
label.error1 {
    font-weight: bold;
    padding-left: 66px;
    color: #EA5200;
}
label.error2 {
    font-weight: bold;
    padding-left: 132px;
    color: #EA5200;
}
</style>

<script src="/static/plugins/validate/1.14.0/jquery.validate.min.js"></script>
<script src="/static/plugins/validate/1.14.0/localization/messages_zh.min.js"></script>
